[user]
  name = Fabio
  email = me@instilled.org

[merge]
  tool = vimdiff

[core]
  excludesfile = /Users/fabio/.dotfiles/git/gitignore-global
  pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less -r

[push]
  default = simple

[alias]
  l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --stat --abbrev-commit

